<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Front-end Web Developer | Boston, MA | Andrew Farrar</title>
	<meta name="description" content="The portfolio of front-end web developer, Andrew Farrar." />
	<meta name="keywords" content="web design, front-end web developer, boston" />
	<meta name="author" content="humans.txt">
	<%= favicon_link_tag 'favicon.png' %>

	<!-- Facebook Metadata /-->
	<meta property="fb:page_id" content="" />
	<meta property="og:image" content="" />
	<meta property="og:description" content="The portfolio of front-end web developer, Andrew Farrar."/>
	<meta property="og:title" content="Andrew Farrar's Web Developer Portfolio"/>

	<!-- Google+ Metadata /-->
	<meta itemprop="name" content="Andrew Farrar's Web Developer Portfolio">
	<meta itemprop="description" content="The portfolio of front-end web developer, Andrew Farrar.">
	<meta itemprop="image" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= javascript_include_tag :modernizr %>
</head>
<body>

<%= yield %>

</body>
</html>
